canvas {
    position:fixed;
    top:0;
    left:0;
  }
  
  canvas:hover {
    cursor: pointer;
  }
  
  /* stretch the bg to the sides */
  body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  
  /* centered persona */
  #persona{
    position: fixed;
    bottom:0;
    max-height: 300px;
    left: calc(50% - 160px);
    user-select: none;
  }
  
  /* in phone, the persona is smaller */
  @media (max-width: 600px) {
    #persona{
      max-height: 200px;
      left: calc(50% - 100px);
    }
  }
  .menu-title{
    background-color: black;
    display: block;
    position:fixed;
    top:60vh;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 24px;
    border-radius: 10px;
    left: 90px;
  }
  
  #entrar{
    position: fixed;
    top:50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width:100%;
    height: 100%;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }